<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Carrinho de compras</title>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://www.mercadopago.com/v2/security.js" view="search"></script>
<th:block th:replace="~{base::libs}">/>
</head>

<body>
	<div class="container-fluid">
		<div th:include="~{base::cabecalho}"></div>
		<main>
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<table id="tabela" class="table">
								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Produto</th>
										<th scope="col">Descrição</th>
										<th scope="col">Preco</th>
										<th scope="col">Quantidade</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item: ${itens}">
										<td th:text="${item.key.produto.id}"></td>
										<td th:text="${item.key.produto.nomeProduto}"></td>
										<td th:text="${item.key.produto.descricaoProduto}"></td>
										<td th:text="${item.key.produto.preco }"></td>
										<td th:text="${item.value}"></td>
									</tr>
								</tbody>
							</table>
							Total R$: <label class="text-green" th:text="${total}"></label>
						</div>
					</div>
				</div>

			</div>
			<button class="btn btn-primary" id="botao-checkout"
				onclick="criarPreferencia()">Finalizar compra</button>
			<script th:inline="javascript">
			
			function criarPreferencia() {
				const mp = new MercadoPago(
						'TEST-0ec17e9f-bda3-4228-b4f1-60c2bab81f6f', {
							locale : 'pt-BR'
						});
				var button = document.getElementById('botao-checkout');
			    // Desativando o botão para impedir que o usuário clique de novo
			    // enquanto não é gerada uma preferência
				button.disabled = true; 
		    	
			    var produtos = [];
			    
				/*[# th:each="item : ${itens}"]*/
				var id = /*[[${item.key.produto.id}]]*/'default';
				var nomeProduto = /*[[${item.key.produto.nomeProduto}]]*/'default';
				var descricaoProduto = /*[[${item.key.produto.descricaoProduto}]]*/'default';
				var urlImagem = /*[[${item.key.produto.urlImagem}]]*/'default';
				var preco = /*[[${item.key.produto.preco}]]*/'default';
					
					var produto = {}
					produto["id"] = id;
					produto["nomeProduto"] = nomeProduto;
					produto["descricaoProduto"] = descricaoProduto;
					produto["urlImagem"] = urlImagem;
					produto["preco"] = preco;
					produtos.push(produto);
				/*[/]*/
				
				    
				    
				fetch("/preferencia/gerar", {
					method : "POST",
					headers : {
						"Content-Type" : "application/json",
					},
					body : JSON.stringify(produtos),
				}).then(response=>response.json())
				.then(preference_id=>{
					console.log("preferencia id:");
					console.log(preference_id)
					mp.checkout({
						preference : {
							id : preference_id
						},
						  autoOpen: true, 
					});
					// Ativando novamente o botão após gerar a preferência
					button.disabled = false;
				})
			}
		</script>
		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>

</body>
</html>