<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Falha no pagamento</title>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
<th:block th:replace="~{base::bootstrap}">/>
<th:block th:replace="~{base::icones-bootstrap}">/>
</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:include="~{base::cabecalho}"></div>
		</header>
		<main></main>
		<div th:repace="~{base::rodape}"></div>
	</div>

</body>
</html>