<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página principal</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="https://www.mercadopago.com/v2/security.js" view="home"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<h1>Bem-vindo ao nosso comércio eletrônico!</h1>
		<header>
			<div th:include="~{base::cabecalho}"></div>
		</header>
		<div class="d-flex flex-row flex-wrap">
			<div th:each="produto: ${produtos}" class="card mr-3"
				style="width: 18rem;">
				<img th:width="600px" th:height="400px"
					th:src="${produto.urlImagem}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title" th:text="${produto.nomeProduto}"></h5>
					<p class="card-text" th:text="${produto.descricaoProduto}"></p>
				</div>
				<form th:action="@{/carrinho/adiciona}" method="post">
					<input type="hidden" th:value="${produto.id }" name="produtoId">
					<button id="btnCadastrar" class="btn btn-primary" type="submit">Finalizar
						compra</button>
				</form>
			</div>
		</div>
		<div id="button-checkout"></div>
		<button onclick="criarPreferencia()">Teste ajax</button>

		<script th:inline="javascript">
			// Adicione as credenciais do SDK
			const mp = new MercadoPago(
					'TEST-0ec17e9f-bda3-4228-b4f1-60c2bab81f6f', {
						locale : 'pt-BR'
					});
		    // criar a preferencia, fazer uma chamada ao backend
			function criarPreferencia() {
				 var nomeProduto = /*[[${produtos[0].nomeProduto}]]*/ 'default';
				    var descricaoProduto = /*[[${produtos[0].descricaoProduto}]]*/ 'default';
				    var urlImagem = /*[[${produtos[0].urlImagem}]]*/ 'default';
				    var preco = /*[[${produtos[0].preco}]]*/ 'default';
				var data = {}
				data["nomeProduto"] = nomeProduto;
				data["descricaoProduto"] = descricaoProduto;
				data["urlImagem"] = urlImagem;
				data["preco"] = preco;
				fetch("/preferencia/gerar", {
					method : "POST",
					headers : {
						"Content-Type" : "application/json",
					},
					body : JSON.stringify(data),
				}).then(response=>response.json())
				.then(preference_id=>{
					console.log("preferencia id:");
					console.log(preference_id)
					mp.checkout({
						preference : {
							id : preference_id
						},
						  autoOpen: true, 
					});
				})
			}
			 
			
					
		</script>

	</div>
</body>
</html>