<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Compra finalizada</title>
</head>
<body>
	<h1>Pagamento efetuado com sucesso!</h1>
	<h1 th:text="${collection_id}"></h1>
	<h1 th:text="${collection_status}"></h1>
	<h1 th:text="${payment_id}"></h1>
	<h1 th:text="${status}"></h1>
	<h1 th:text="${external_reference}"></h1>
	<h1 th:text="${payment_type}"></h1>
	<h1 th:text="${preference_id}"></h1>
	<h1 th:text="${site_id}"></h1>
	<h1 th:text="${processing_mode}"></h1>
	<h1 th:text="${merchant_account_id}"></h1>

</body>
</html>