<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Compra finalizada</title>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://www.mercadopago.com/v2/security.js"></script>
<th:block th:replace="~{base::bootstrap}">/>



</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:include="~{base::cabecalho}"></div>
		</header>
		<main>
			<div class="card">
				<div class="card-header">Pagamento efetuado com sucesso!</div>
				<div class="card-body bg-success text-white">
					<h5 class="card-title">Dados do pagamento</h5>
					<h5 class="card-text" th:text="${collection_id}"></h5>
					<h5 class="card-text" th:text="${collection_status}"></h5>
					<h5 class="card-text" th:text="${payment_id}"></h5>
					<h5 class="card-text" th:text="${status}"></h5>
					<h5 class="card-text" th:text="${external_reference}"></h5>
					<h5 class="card-text" th:text="${payment_type}"></h5>
					<h5 class="card-text" th:text="${preference_id}"></h5>
					<h5 class="card-text" th:text="${site_id}"></h5>
					<h5 class="card-text" th:text="${processing_mode}"></h5>
					<h5 class="card-text" th:text="${merchant_account_id}"></h5>
				</div>

			</div>
		</main>
		<div th:replace="~{base::rodape}"></div>

	</div>

</body>
</html>